[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
pytest-watch = "*"

[packages]

[requires]
python_version = "3.8"
